name: Mend

on:
  push:
    branches:
      - main
      - release-*
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
    paths-ignore:
      - design/**
      - deploy**
      - docs/**
      - examples/**
  pull_request:
    branches:
      - main
      - release-*
    paths-ignore:
      - design/**
      - deploy**
      - docs/**
      - examples/**

concurrency:
  group: ${{ github.ref_name }}-mend
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  mend:
    if: ${{ (github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false) || (github.event_name == 'push' && github.event.repository.fork == false) }}
    uses: nginxinc/compliance-rules/.github/workflows/mend.yml@0aab935582c35a00e2c671d8fe25b7fdd72a927b # v0.3.1
    secrets: inherit
    with:
      product_name: nginx-gateway-fabric_${{ github.ref_name }}
      project_name: nginx-gateway-fabric
