name: Run build for renovate PRs

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.ref_name }}-renovate
  cancel-in-progress: true

jobs:
  check:
    name: Check for changes
    runs-on: ubuntu-24.04
    outputs:
      generate: ${{ steps.filter.outputs.generate }}
    permissions:
      pull-requests: read
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check for changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            generate:
            - go.mod
            - go.sum
            - Makefile
  build:
    name: Build for renovate PRs
    runs-on: ubuntu-24.04
    needs: check
    permissions:
      contents: write
    if: ${{ needs.check.outputs.generate == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}

      - name: Configure GOPROXY
        id: goproxy
        run: |
          if [[ "${{ secrets.ARTIFACTORY_USER }}" == "" ]]; then
          GOPROXY_VALUE="proxy.golang.org,direct"
          else
          GOPROXY_VALUE="https://${{ secrets.ARTIFACTORY_USER }}:${{ secrets.ARTIFACTORY_TOKEN }}@${{ secrets.ARTIFACTORY_DEV_ENDPOINT }}"
          fi
          echo "GOPROXY=${GOPROXY_VALUE}" >> $GITHUB_ENV

      - name: Setup Golang Environment
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable
          cache-dependency-path: |
            go.sum
            .github/.cache/buster-for-generate

      # go mod tidy can be removed once https://github.com/renovatebot/renovate/issues/12999 is implemented
      - name: Update files for renovate
        run: |
          make generate-all
          cd tests && go mod tidy && go mod verify

      - name: Commit changes
        id: commit
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "Update files for renovate"
          commit_author: "renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>"
